html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
}
* {
  user-select: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --adm-center-popup-background-color: white; */
  /* --border-radius: 0.2rem; */
  --adm-color-primary: #1677ff;
  --adm-color-success: #00b578;
  --adm-color-warning: #ff8f1f;
  --adm-color-danger: #ff3141;

  --adm-color-white: #ffffff;
  --adm-color-text: #333333;
  --adm-color-text-secondary: #666666;
  --adm-color-weak: #999999;
  --adm-color-light: #cccccc;
  --adm-color-border: #eeeeee;
  --adm-color-box: #f5f5f5;
  --adm-color-background: #ffffff;

  --adm-font-size-main: var(--adm-font-size-5);

  --adm-font-family: -apple-system, blinkmacsystemfont,
    'Helvetica Neue', helvetica, segoe ui, arial, roboto,
    'PingFang SC', 'miui', 'Hiragino Sans GB', 'Microsoft Yahei',
    sans-serif;
}
